In [1]:
import numpy as np
import pandas as pd

In [3]:
df= pd.read_csv(r"E:\Datasets\bmi.csv")
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [5]:
df = df.drop('Index',axis=1)

In [6]:
df

     Gender  Height  Weight
0      Male     174      96
1      Male     189      87
2    Female     185     110
3    Female     195     104
4      Male     149      61
..      ...     ...     ...
495  Female     150     153
496  Female     184     121
497  Female     141     136
498    Male     150      95
499    Male     173     131

[500 rows x 3 columns]

KeyError: "None of [Int64Index([174, 189, 185, 195, 149, 189, 147, 154, 174, 169,\n            ...\n            164, 146, 198, 170, 152, 150, 184, 141, 150, 173],\n           dtype='int64', length=500)] are in the [columns]"